{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{%block nav%}
{% include "nav.html" %}
{%endblock%}
{% block content %}
<div id="vanta-bg"></div>
<pre class="intro"> 
    Welcome to YourAnalyst

    Your One Stop Solution to Fast and Effective Data Analysis <span class="cursor">|</span>
</pre>
<div class="btn-group">
    <a href="#sec-1"><button class="hm-btn1">Explore</button></a>
    <a href="{{url_for('views.upload')}}"><button class="hm-btn2">Get Started -></button></a>  
</div>

<section id='sec-1'class="sec-1">
    <h1>What is YourAnalyst?</h1>
    <p>YourAnalyst is your smart, intuitive assistant designed to simplify data analysis. Whether you're cleaning messy datasets, uncovering hidden insights, or building compelling visualizations, YourAnalyst helps you do it all with ease. With just a few clicks, you can transform raw data into meaningful 
      stories—saving time, reducing effort, and gaining clarity faster than ever before.</p>
      <br>
    <h5 class="quote">"Data is the new Oil." ~ Anonymous</h5>
</section>

<section class="sec-2">
    <h1>Why Choose YourAnalyst?</h1>
    <p>YourAnalyst simplifies even the most complex data tasks by seamlessly integrating automation, 
      generating stunning visualizations, and delivering powerful AI-driven insights. 
      Designed with the needs of analysts, researchers, and students in mind, it transforms 
      raw data into meaningful, actionable intelligence — helping users save time, reduce effort, 
      and make smarter decisions with confidence.</p>
</section>

<section class="sec-3">
    <h1>How Does it Work?</h1>
    <p>Read the official usage documentation to have a better understanding of the platform.</p>
    <a href="{{url_for('views.documentation')}}"><button class="doc-btn">Documentation -></button></a>
</section>

<footer class="footer">
  <div class="footer-container">
    <p>&copy; 2025 YourAnalyst. All rights reserved.</p>
    <p>By <b>Abhibhav Sharma</b></p>
  </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
<script>
VANTA.NET({
    el: "#vanta-bg",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00
});
</script>
{% endblock %}