{% extends 'base.html' %}

{% block title %}YourAnalyst{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="heading">
        <h1>YourAnalyst</h1>
    </div>
    <div class="typewriter">
    <span id="typing-text"></span>
</div>
    <div class="button-group">
        <button class="btn">Login</button>
        <button class="btn">Sign Up</button>
    </div>
</div>

<script>
    const texts = [
        "Welcome to YourAnalyst!",
        "Simplifying Data for You.",
        "Visualize. Analyze. Grow.",
        "Your data, your way."
    ];

    let count = 0;
    let index = 0;
    let currentText = '';
    let letter = '';

    function type() {
        if (count === texts.length) count = 0;
        currentText = texts[count];
        letter = currentText.slice(0, ++index);

        document.getElementById('typing-text').textContent = letter;

        if (letter.length === currentText.length) {
            setTimeout(() => {
                index = 0;
                count++;
                setTimeout(type, 400);
            }, 600);
        } else {
            setTimeout(type, 100);
        }
    }
window.onload = type;
</script>
{% endblock %}
